# IDEs
/.idea/

# Vagrant
/.vagrant/
/default/
/html/
/wp/
/wp-content/
/bin/

# Those are custom anyway
!wp-content/mu-plugins/

# Composer lock not necessary, let everyone pull latest
composer.lock

# env / Config
.env
!.env.example

# Defaults
!.gitkeep
!composer.json
!Vagrantfile